{% extends 'paginas/index.html' %}

{% load static %}

{% block styles %}
    <style>

        h4 {
            margin-bottom: 5px;
        }

        p {
            font-size: 17px;
        }

        #registro {
            color: #df8080;
            font-weight: 500;
        }

        .btn {
            background-color: #e48d8d;
        }
        
        .btn:hover {
            background-color: #df8686;
        }

    </style>
{% endblock %}

{% block content %}
    
    <div class="form-container">
        <h4>Excluir Registro</h4> <br>
    
        <p>Deseja excluir {{objeto}} <span id="registro">{{registro}}</span> definitivamente?</p> <hr> <br>

        <form method="POST">

            {% csrf_token %}
    
            {{ form.as_p }}
    
            <button type="submit" class="btn">Excluir</button>
    
        </form>
    </div>

{% endblock %}