* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

h4 {
    color: #096661;
}

header {
    height: 64px;
    background-color: #a8ccb6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 65px;
}

header #logo {
    width: 110px;
}

.dropdown-toggle {
    color: black;
    font-weight: 500;
}

.navbar-nav {
    background-color: #a8ccb6;
    box-shadow: none;
    justify-content: space-between;
}

#drop-user {
    text-transform: capitalize;
}

/*Materialize*/
.dropdown-trigger {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 17px;
    color: #085c58 !important;
}

.dropdown-content {
    min-width: max-content;
} 


/*Materialize*/
.icons {
    margin-right: 4px;
    font-size: 18px;
}

.btn-add i {
  margin-right: 3px; 
  font-size: 16px; 
}

/*Materialize*/
/* #view-cozy {
    font-size: 17px;
} */

#add-box {
    font-size: 18px;
}

/*Materialize*/
#drop-user {
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: transparent;
}

#login-option {
    font-size: 18px;
    font-weight: 500;
}

#login-option:hover {
    background-color: transparent;
}

#login-option:hover a {
    color: #096661;
}

.add-cadastro {
    font-size: 15px;
}

main {
    min-height: 80vh;
}

.container {
    padding-block: 20px;
}

/* #main-container {
    position: relative;
} */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

#bem-vindo {
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

#bem-vindo span {
    text-transform: capitalize;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #096661;
}

textarea {
    resize: none;
    outline: 0;
    padding: 10px;
}

footer {
    background-color: #a8ccb6;
    padding-inline: 40px;
    padding-block: 30px;
}

#copyright {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}