{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
{% endblock %}

{% block content %}

    <h4>Cargos</h4> 

    <a class="btn btn-add btn-sm" href="{% url 'cadastrar-cargo' %}">
        <i class="fas fa-plus"></i>
        Adicionar Cargo
    </a> <hr>
    
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Cargo</th>
                <th>Salário</th>
                <th>Opções</th>
            </tr>

            {% for cargo in object_list %}
            <tr>
                <td>{{cargo.nome_cargo}}</td>
                <td>R$ {{cargo.salario}}</td>
                <td>
                    <a href="{% url 'editar-cargo' cargo.pk %}" class="btn btn-sm btn-editar">Editar</a> &nbsp;
                    <a href="{% url 'excluir-cargo' cargo.pk %}" class="btn btn-sm btn-excluir">Excluir</a> 
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Ainda não há cargos registrados</td>
            </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}