{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <style>
        #btn-box {
            margin-top: 35px;
        }
    </style>
{% endblock %}

{% block content %}

    {% if paciente.foto %}
    <div class="foto-box">
        <img class="dados-foto" src="/media/{{paciente.foto}}"> 
        <a href="{% url 'ficha-paciente-pdf' paciente.pk %}" class="btn btn-sm btn-gerar-ficha">Ficha em PDF</a>
    </div>
    {% else %}
    <div class="foto-box">
        <img class="dados-foto" src="{% static 'img/perfil-generico.jpg' %}"> 
        <a href="{% url 'ficha-paciente-pdf' paciente.pk %}" class="btn btn-sm">Ficha em PDF</a>
    </div>
    {% endif %}
    <p id="nome">{{paciente.nome_completo}}</p>

    <div class="dados">
        <div id="dados-pessoais">
            <h4>Dados Pessoais</h4>
            <p>Idade: {{paciente.get_idade}} anos</p>
            <p>Nascimento: {{paciente.data_nascimento|date:'d/m/Y'}}</p>
            <p>RG: {{paciente.rg}}</p>
            <p>CPF: {{paciente.cpf}}</p>
            {% if paciente.sexo == Null %}
                <p>Sexo: Não definido</p>
            {% else %}
                {% if paciente.sexo == 'F' %}
                    <p>Sexo: Feminino</p>
                {% else %}
                    <p>Sexo: Masculino</p>
                {% endif %}
            {% endif %}
        </div>

        <div id="contato">
            <h4>Contato</h4>
            <p>Telefone: {{paciente.telefone}}</p>
            <p>Email: {{paciente.email}}</p>
        </div>

        <div id="endereco">
            <h4>Endereço</h4>
            <p>Rua: {{paciente.endereco.rua}}</p>
            <p>Número: {{paciente.endereco.numero}}</p>
            <p>Bairro: {{paciente.endereco.bairro}}</p>
            <p>Cidade: {{paciente.endereco.cidade}}</p>
        </div>

        <div id="inform-medicas">
            <h4>Informações Médicas</h4>
            <p style="margin-bottom: 5px;"><span style="font-weight: 600; color: #303030;">Data de cadastro:</span> {{paciente.data_cadastro|date:'d/m/Y'}}</p>
            <p>{{paciente.informacoes_medicas}}</p>
        </div>
    </div>

    {% if is_admin %}
    <div id="btn-box">
        <a href="{% url 'editar-paciente' paciente.pk %}" class="btn btn-sm btn-editar">Editar</a> &nbsp;
        <a href="{% url 'excluir-paciente' paciente.pk %}" class="btn btn-sm btn-excluir">Excluir</a>
    </div>
    {% endif %}
    
{% endblock %}