{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
{% endblock %}

{% block content %}

    {% if funcionario.foto %}
    <div class="foto-box">
        <img class="dados-foto" src="/media/{{funcionario.foto}}"> 
        <a href="{% url 'ficha-funcionario-pdf' funcionario.pk %}" class="btn btn-sm btn-gerar-ficha">Ficha em PDF</a>
    </div>
    {% else %}
    <div class="foto-box">
        <img class="dados-foto" src="{% static 'img/perfil-generico.jpg' %}"> 
        <a href="{% url 'ficha-funcionario-pdf' funcionario.pk %}" class="btn btn-sm btn-gerar-ficha">Ficha em PDF</a>
    </div>
    {% endif %}
    <p>{{funcionario.nome_completo}}</p>

    <div class="dados">
        <div id="dados-pessoais">
            <h4>Dados Pessoais</h4>
            <p>Idade: {{funcionario.get_idade}} anos</p>
            <p>Nascimento: {{funcionario.data_nascimento|date:'d/m/Y'}}</p>
            <p>RG: {{funcionario.rg}}</p>
            <p>CPF: {{funcionario.cpf}}</p>
            {% if funcionario.sexo == Null %}
                <p>Sexo: Não definido</p>
            {% else %}
                {% if funcionario.sexo == 'F' %}
                    <p>Sexo: Feminino</p>
                {% else %}
                    <p>Sexo: Masculino</p>
                {% endif %}
            {% endif %}
        </div>
    
        <div id="contato">
            <h4>Contato</h4>
            <p>Telefone: {{funcionario.telefone}}</p>
            <p>Email: {{funcionario.email}}</p>
        </div>
    
        <div id="endereco">
            <h4>Endereço</h4>
            <p>Rua: {{funcionario.endereco.rua}}</p>
            <p>Número: {{funcionario.endereco.numero}}</p>
            <p>Bairro: {{funcionario.endereco.bairro}}</p>
            <p>Cidade: {{funcionario.endereco.cidade}}</p>
        </div>
    
        <div id="profissionais">
            <h4>Profissionais</h4>
            <p>Cargo: {{funcionario.cargo.nome_cargo}}</p>
            <p>Salário: {{funcionario.cargo.salario}}</p>
            <p>Data de Admissão: {{funcionario.data_admissao|date:'d/m/Y'}}</p>
            {% if funcionario.data_demissao %}
                <p>Data de Demissão: {{funcionario.data_demissao|date:'d/m/Y'}}</p>
            {% endif %}
        </div>
    </div>

    <br><br>
    <a href="{% url 'editar-funcionario' funcionario.pk %}" class="btn btn-sm btn-editar">Editar</a> &nbsp;
    <a href="{% url 'excluir-funcionario' funcionario.pk %}" class="btn btn-sm btn-excluir">Excluir</a>
    
{% endblock %}