{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
{% endblock %}

{% block content %}

    {% if medico.foto %}
    <img class="dados-foto" src="/media/{{medico.foto}}"> <br>
    {% else %}
    <img class="dados-foto" src="{% static 'img/perfil-generico.jpg' %}">
    {% endif %} 
    <p>{{medico.nome_completo}}</p>

    <div class="dados">
        <div id="dados-pessoais">
            <h4>Dados Pessoais</h4>
            <p>Idade: {{medico.get_idade}} anos</p>
            <p>Nascimento: {{medico.data_nascimento|date:'d/m/Y'}}</p>
            <p>RG: {{medico.rg}}</p>
            <p>CPF: {{medico.cpf}}</p>
            {% if medico.sexo == Null %}
                <p>Sexo: Não definido</p>
            {% else %}
                {% if medico.sexo == 'F' %}
                    <p>Sexo: Feminino</p>
                {% else %}
                    <p>Sexo: Masculino</p>
                {% endif %}
            {% endif %}
        </div>

        <div id="contato">
            <h4>Contato</h4>
            <p>Telefone: {{medico.telefone}}</p>
            <p>Email: {{medico.email}}</p>
        </div>

        <div id="endereco">
            <h4>Endereço</h4>
            <p>Rua: {{medico.endereco.rua}}</p>
            <p>Número: {{medico.endereco.numero}}</p>
            <p>Bairro: {{medico.endereco.bairro}}</p>
            <p>Cidade: {{medico.endereco.cidade}}</p>
        </div>

        <div id="profissionais">
            <h4>Profissionais</h4>
            <p>CRM: {{medico.crm}}</p>
            <p>Especialidade: {{medico.especialidade}}</p>
            <p>Data de cadastro: {{medico.data_cadastro|date:'d/m/Y'}}</p>
        </div>
    </div>

    <br><br>
    <a href="{% url 'editar-medico' medico.pk %}" class="btn btn-sm btn-editar">Editar</a> &nbsp;
    <a href="{% url 'excluir-medico' medico.pk %}" class="btn btn-sm btn-excluir">Excluir</a>

{% endblock %}