{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
{% endblock %}

{% block content %}

    <h4>{{titulo}}</h4> 

    <div id="btn_box_list">
        {% block btn_add %}
            <a class="btn btn-add btn-sm" href="{% url 'cadastrar-funcionario' %}">
            <i class="fas fa-plus"></i> 
            Cadastrar Funcionário
            </a>
        {% endblock %}
    </div> <hr>
    
    <div class="table-responsive">
        <table class="table">
            <tr>
                {% block campos %}
                    <th>Foto</th>
                    <th>Nome Completo</th>
                    {% block campo3 %}
                    <th>Cargo</th>
                    {% endblock %}
                    {% block opcao %}
                        <th>Opção</th>
                    {% endblock %}
                {% endblock %}
            </tr>

            {% block lista %}
                {% for funcionario in object_list %}
                <tr> {% if funcionario.foto %}
                    <td><img class="lista-foto" src="/media/{{funcionario.foto}}"></td>
                    {% else %}
                    <td><img class="lista-foto" src="{% static 'img/perfil-generico.jpg' %}"></td>
                    {% endif %}
                    <td>{{funcionario.nome_completo}}</td>
                    <td>{{funcionario.cargo.nome_cargo}}</td>
                    <td>
                        <a href="{% url 'dados-funcionario' funcionario.pk %}" class="btn btn-small btn-dados">Detalhes</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="12">Ainda não há funcionários cadastrados</td>
                </tr>
                {% endfor %}
            {% endblock %}
        </table>
    </div>

{% endblock %}