{% extends 'cadastros/listas/funcionarios.html' %}

{% load static %}
    
{% block btn_add %}
    <a class="btn btn-add btn-sm" href="{% url 'cadastrar-medico' %}">
        <i class="fas fa-plus"></i>
        Cadastrar Médico
    </a>
{% endblock %}

{% block campo3 %}
    <th>Especialidade</th>
{% endblock %}

{% block opcao %}
    {% if is_admin or request.user.is_superuser %}
        <th>Opção</th>
    {% endif %}
{% endblock %}

{% block lista %}
    {% for medico in object_list %}
    <tr> {% if medico.foto %}
        <td><img class="lista-foto" src="/media/{{medico.foto}}"></td>
        {% else %}
        <td><img class="lista-foto" src="{% static 'img/perfil-generico.jpg' %}"></td>
        {% endif %}
        <td>{{medico.nome_completo}}</td>
        <td>{{medico.especialidade}}</td>
        <td>
            {% if is_admin or request.user.is_superuser %}
            <a href="{% url 'dados-medico' medico.pk %}" class="btn btn-small btn-dados">Detalhes</a> &nbsp;
            {% endif %}
            <a href="{% url 'dados-agenda' medico.agendamedico.pk %}" class="btn btn-small btn-agenda">Agenda</a> 
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="12">Ainda não há médicos cadastrados</td>
    </tr>
    {% endfor %}
{% endblock %}