{% extends 'paginas/index.html' %}

{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <style>
        
        #consultas-agend-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: -1px;
            border-left: 1px solid #7c7c7c;
            border-right: 1px solid #7c7c7c;
        } 

        #consultas-agend-container hr {
            margin-bottom: -1px;
        }

        .consultas-agend {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            padding-inline: 5px;
        }

        .dados-agend {
            display: flex;
            gap: 20px;
            align-self: flex-start;
        }

        .head {
            padding-inline: 5px;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
        }

        #head-box {
            display: flex;
            gap: 20px;
        }

        #opcao {
            width: 150px;
        }

        .tamanho_definido {
            width: 120px;
        }

        .botoes-box {
            align-self: flex-end;
        }

        #agendamento-vazio {
            padding-inline: 5px;
        }

        hr {
            min-width: 100%;
        }
    </style>

{% endblock %}

{% block content %}

    {% block titulo2 %}
        <h4>{{titulo}}</h4> 
    {% endblock %}
    <div id="consultas-agend-container">
        <hr>
        <div class="head">
            <div id="head-box">
                <p class='tamanho_definido'>Data de Criação</p>
                <p>Paciente</p>
            </div>
            <p id="opcao">Opção</p>
        </div>
        <hr>
        {% for prontuario in object_list %}
            <div class="consultas-agend">
                <div class="dados-agend">
                    <p class='tamanho_definido'>{{prontuario.data_criacao|date:'d/m/Y'}}</p>
                    <p>{{prontuario.paciente.nome_completo}}</p>
                </div>
                <div class="botoes-box">
                    <a href="{% url 'dados_prontuario' prontuario.pk %}" class="btn btn-sm">Ver Prontuário</a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
