{% extends 'paginas/index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <style>
        
        .form-box {
            padding-top: 0;
        }

        .error {
            position: absolute;
            bottom: 52px;
        }

        .btn {
            min-width: 100px;
            margin-top: 25px;
        }

    </style> 
{% endblock %}

{% block content %}

    <div class="form-container">
        <div class="form-box"> 

            {% if request.user.is_authenticated %}
                <h4>Você não tem permissão para acessar esta página!</h4>
            {% else %}

                <h2 class="titulo-form">Login</h2>
                <p>Digite os seus dados de acesso nos campos abaixo.</p> <br>
    
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="input-field">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}">Usuario</label>
                    </div>

                    <div class="input-field">
                        {{ form.password }}
                        <label for="{{ form.password.id_for_label }}">Senha</label>
                    </div>

                    {% if form.non_field_errors %}
                        <p class="error">{{ form.non_field_errors.as_text|slice:":52"  }}</p>
                    {% endif %}

                    <button type="submit" class="btn">Login</button>
                </form>
            {% endif %}
        </div>
    </div>
    <!-- <div class="page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso nos campos abaixo.</p>
            <label for="email">Usuário</label>
            {{form.username}}
            <label for="password">Senha</label>
            {{form.password}}
            <a href="mailto:suporte@sismed.com.br?subject=Recuperação de senha&cc=ti@sismed.com.br&bcc=admin@sismed.com.br&body=Conteúdo do email que será preenchido automaticamente">Esqueci minha senha</a>
          
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div> -->
{% endblock %}